/* Navigation */
header {
  display: flex;
  
  margin-bottom: 20px;
 
}

header h1 {
  padding-top: 0px;
  justify-content: flex-start;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

header nav ul li a {
  margin: 20px 5px 20px 5px;
}

header nav ul li:last-child a {
  margin-right: 0;
}



/* General Html style*/
header, footer {
  background-color: #EEC8E0 ;
  border: 1px solid #392F5A; /* this will draw a border or box my header and footer */
}

.list-inside li {
  list-style-position: inside;
}

.aboutmepic {
  height: auto;
  width: 90% ;
  margin: 10%
}

h2{
  font-size: 18px;
}

h1, nav, h2, h3, p, main{
  text-align: center; 
  font-family: cursive;
}

.align-left{
  text-align: left;
}


a:link {color: white ; text-decoration: none; }
a:visited {color: #392F5A ; }
a:hover {color: rgb(66, 161, 125) ; }
a:active {color: #F092DD; }

hr{
  height: 2px;
  background-color: #EEC8E0; 
  border: 1px solid #392F5A;
  padding: 2px;
  /* this declaration will style the horizontal ruler*/
}

body {
  background-color: rgb(66, 182, 151) ;
} 

/* Groups and Items */
.group {
  display: flex;
  flex-direction: column;

}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

.item .profile {
  height: auto;
  width: 40%;
}

.logo{
  height: auto;
  width: 25%;


}

.contactlist {
   list-style: none;
}




/* Contact Form */
form {
  margin: 25px ;
  padding: 0 50px 0 0 ;
  
}

form input, 
form textarea {
  width: 100%;
  
}

form textarea {
  height: 100px;
}

form button {
  text-align: center;
}

@media all and (min-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
    
  }

  .logo {
    margin: 14px 0 14px 0px;
    padding-top: 10px;
    font-size: 30px;
  }
  

}

@media all and (min-width: 800px) {
  section {
    padding: 0 ;
  }
  .group {
    flex-direction: row;
  }
}
